@tailwind base;
@tailwind components;
@tailwind utilities;
/* variables */
:root{
  --main :#dc2626;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FAF9F6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
 
}
.button{
  border: 2px solid var(--main);
  background-color: white;
  columns: var(--main);
}
